@{
    ViewBag.Title = "Home Page";
}



<div class="b-main-logo">
    <h2>
        YSM (yandex statistics manager)
    </h2>
    <img src="~/Images/content_02.png" />
</div>
<div>
    Тут какое то описание :)
</div>