
@{
    ViewBag.Title = "Statistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h2>Statistic</h2>

<h3>Company @ViewBag.company </h3>

Статус рекламной кампании: @ViewBag.lastElem.Status<br />
Суммарный расход бюджета: @ViewBag.lastElem.Sum <br />


@Html.ActionLink("Settings", "CompanyStatus",
                new { company = ViewBag.company }, new { @class = "compItem" })
<canvas id="myChart" style="width:100%;"></canvas>
<br />
<div style="margin: 0 auto; width: 150px;">
    <span style="display: inline-block; width: 20px; height: 20px; background-color: rgba(143,151,155,0.2); "></span> Clicks &nbsp;&nbsp;
    <span style="display: inline-block; width: 20px; height: 20px; background-color: rgba(151,187,205,0.2); "></span> Shows<br />
</div>
<br />

<br />

<canvas id="crt" style="width:100%;"></canvas>
<div style="margin: 0 auto; width: 150px;">
    <span style="display: inline-block; width: 20px; height: 20px; background-color: rgba(220,220,220,0.2); "></span> CRT &nbsp;&nbsp;
</div>
<br />
<canvas id="sum" style="width:100%;"></canvas>
<div style="margin: 0 auto; width: 150px;">
    <span style="display: inline-block; width: 20px; height: 20px; background-color: rgba(151,187,205,0.2); "></span> Average price click &nbsp;&nbsp;
</div>
<br />
<script>

    var ctx = document.getElementById("myChart").getContext("2d");
    var data = {
        labels: [@Html.Raw(ViewBag.labels)],
        datasets: [
            {
                label: "Clicks",
                fillColor: "rgba(143,151,155,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(122,122,122,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [@Html.Raw(ViewBag.dateClicks)]
            },
            {
                label: "Shows",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [@Html.Raw(ViewBag.dateShows)]
            }
        ]
    };

    var myBarChart = new Chart(ctx).Line(data);








    var ctx1 = document.getElementById("crt").getContext("2d");
    var data1 = {
        labels: [@Html.Raw(ViewBag.labels)],
        datasets: [
            {
                label: "crt",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [@Html.Raw(ViewBag.ctrStat)]
            }
        ]
    };

     new Chart(ctx1).Line(data1);


     var ctx2 = document.getElementById("sum").getContext("2d");
     new Chart(ctx2).Line( {
         labels: [@Html.Raw(ViewBag.labels)],
         datasets: [
             {
                 label: "midle price",
                 fillColor: "rgba(151,187,205,0.2)",
                 strokeColor: "rgba(151,187,205,1)",
                 pointColor: "rgba(151,187,205,1)",
                 pointStrokeColor: "#fff",
                 pointHighlightFill: "#fff",
                 pointHighlightStroke: "rgba(151,187,205,1)",
                 data: [@Html.Raw(ViewBag.midllePrice)]
             }
         ]
     });



    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>